{% load widget_tweaks %}
{% load mathfilters %}
{% load customTags %}
    <script>list = {{current|safe}}</script>


<h1>{{teacher.name}} Availability - Hours Remaining: <span id="load"> {{ hours }}</span> </h1>
<button id="selectAll" type="button" class="btn btn-primary-outline">Select All</button>
<button id="clearSelect" type="button" class="btn btn-primary-outline">Clear Selection</button>
<form hx-post="{{ request.path }}" enctype="multipart/form-data" hx-target="#availability">
    {% csrf_token %}
    {% for formset in formsets %}
    <h1>Week - {{forloop.counter}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Period</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        
    {% for form in formset.forms %}
    {% if forloop.first %}
    <tr><th scope="row">1</th>
    {% elif forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}
    </tr>
    <tr>
        <th scope="row">
            {% with count=forloop.counter|intdiv:5 %}
                 {{count|add:1}}
            {% endwith %}
        </th>
    {% endif %}
    <td id="cell-{{periods|getPeriodName:forloop.counter|getCheckBoxId:forloop.parentloop.counter}}" class="table-cell"><label>
    {% render_field form.checked id=periods|getPeriodName:forloop.counter|getCheckBoxId:forloop.parentloop.counter class="form-check-input" %}
    {% render_field form.period hidden="true" value=periods|getPeriodName:forloop.counter%}
    {% render_field form.week hidden="true" value=forloop.parentloop.counter%}
    {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
    </label></td>
    {% if forloop.last %}
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    {{ formset.management_form }}
    {%endfor%}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<script>setupAvailabilityForm()</script>