.calendars {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    height: 1000px;
    
}

.dayHeader{
    display:grid;
}

.dayCell{
    cursor:cell;
}

.arrows {
    border:none;
    background:none;
}