
body * {
  color: white;
}

input {
  color: black;
}

select, option {
  color: black;
}

label {
  color: black;
}

th {
  background-color: #32373b !important;
  border: 1px white solid;
}

.checkboxInput label {
  color: white;
  position:absolute;
  top: 0;
  left:10%
  
}

.checkboxInput, .colorInput {
  position: relative;
}

caption {
  color: white;
}


td {
  border: 1px solid white;
  color: white;
}


#modTable td {
  width: 20%;
}

.navbar-brand{
  font-size: x-large;
  font-weight: bold;
}
.nav-link{
  color: white;
  font-size: larger;
}

/* .showcase-img {
  filter: invert(1);
}
.img-fluid {
  filter: invert(1);
} */
.modal-content{
  background-color: #343a40;
}

.calendarHeader, .dayCell:nth-child(odd), .pRow:nth-child(odd){
  background-color: rgb(3, 39, 107);
}

body .form-floating{
  color:black;
}

#sidebar, #titleBar{
  background-color: #34393e;
}

#profileDropdown, #timetableDropdown{
  color: white;
}

#themeDropdown {
  color: black;
}

#departmentDropdown i {
  color: black;
}

#listObjectsDiv {
  background-color: #3f454b;
}

#loadDistTable {
  background-color: #32373b;
}
#loadDistTable tr:nth-child(even) {
  background-color: #1a2127;
}

.classItems tr:nth-child(even){
  background-color: #1a2127;
}

.btn-primary-outline {
  color: white;
  background-color: #3f454b;
}

.btn-primary-outline:hover {
  filter:brightness(75%);
  background-color: #3f454b;
}


.nav-link:hover {
  filter: brightness(75%);
  color: white;
}

a:hover, #classCard:hover {
color: white;
filter: brightness(75%);
}

.dayHeader {
  border-top: 1px white solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
}

.periodColumn {
  border-left: 1px white solid;
}

.dayCell, .pRow {
  border-top: 1px white solid;
}

#combingChart .firstCol {
    border: 1px white solid;
    background-color: #32373b;
}


#combingChart .secCol {
    background-color: #32373b;
    border: 1px white solid;
}