
body * {
  color: white;
}

input {
  color: black;
}

select {
  color: black;
}

caption {
  color: white;
}


td, th {
  border: 1px solid white;
  color: white;
}


#modTable td {
  width: 20%;
}

.navbar-brand{
  font-size: xx-large;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  font-size: larger;
}

.showcase-img {
  filter: invert(1);
}
.img-fluid {
  filter: invert(1);
}
.modal-content{
  background-color: #343a40;
}

.calendarHeader, .dayCell:nth-child(odd), .pRow:nth-child(odd){
  background-color: rgb(3, 39, 107);
}


