body {
  color: black;
}

.calendarHeader, .dayCell:nth-child(odd), .pRow:nth-child(odd){
    background-color: rgb(132, 175, 255);
  }

  #sidebar, #titleBar {
    background-color: #f8f9fa;
  }

  td, th {
    border: 1px solid black;
    color: black;
  }