<script>
    cData={
        periods:parseInt({{periods}}),
        weeks:parseInt({{weeks}}),
        timetable:parseInt({{timetable}}),
        events:{{events|safe}},
        teacher:parseInt({{teacherId}})
    }
</script>
<div class="container">
    <div class="row text-center">
        <div class="col">
        <h1>{{title}} </h1>
        </div>
    </div>
    <div class="row text-center">
        {% if teacherId %}
        <div class="col">
            <a class="btn btn-primary-outline border" href="{% url 'exportCalendar' timetable teacherId%}">Export Calendar to Excel</a>
        </div>
        {% else %}
        <div class="col">
            <a class="btn btn-primary-outline border" href="{% url 'exportCalendar' timetable %}">Export Calendar to Excel</a>
        </div>
        {% endif %}
    </div>
    <div class="row text-center">
        <div class="col">
        <h1 id="title">Calendar </h1>
        </div>
    </div>
</div>
<button id="previous" class='fas fa-arrow-alt-circle-left m-4 arrows' style='width: 40px; font-size:36px; float: left;'></button>
<button id="next" class='fas fa-arrow-alt-circle-right m-4 arrows' style='width: 40px; font-size:36px; float: right;'></button>
<div id="calendarWrapper">
</div>
<script>createCalendar("#calendarWrapper");</script>
<div id="viewDataModal" class="modal fade">
    <div id="module" class="modal-dialog" hx-target="this">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Module Info</h5>
                </div>
                <div id="modalBody" class="modal-body" hx-trigger="moduleDetailsChange from:body" hx-target="this">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
  </div>
