{% extends "base_template.html" %}



{% block js %}
{% load static %}
<script src="https://kit.fontawesome.com/7a2ab1cb1a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<script>
    const periods=parseInt({{periods}});
    const weeks=parseInt({{weeks}});
    var events={{events|safe}};
</script>
<script type="text/javascript" src="{% static 'javascript/calendar.js' %}" defer></script>


{% endblock %}
{% block content %}

<div id="calendarWrapper">
    <h1 id="title" style="text-align: center"> Calendar </h1>
    <button id="previous" class='fas fa-arrow-alt-circle-left m-4 arrows' style='font-size:36px; float: left;'></button>
    <button id="next" class='fas fa-arrow-alt-circle-right m-4 arrows' style='font-size:36px; float: right;'></button>
</div>

<div id="viewModuleModal" class="modal fade">
    <div id="module" class="modal-dialog" hx-target="this">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Module Info</h5>
                </div>
                <div id="modalBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}
