{% block js %}
{% load static %}
{% comment %} <script type="text/javascript" src="{% static 'javascript/combing.js' %}"></script> {% endcomment %}

<script>
    cData={
        numP:parseInt({{numPeriods}}),
        modules:{{modules|safe}},
        modChoices:{{modChoices|safe}},
        numWeeks:{{numWeeks}},
        combing:"True"
    };
</script>
{% endblock %}
{% load mathfilters %}
{% load customTags %}

<div class="row overflow-scroll">
    {% comment %} <div id="combingWrapper">

            {% for p in periods %}
            <div>{{forloop.counter}}</div>
            {% endfor %} {% endcomment %}
{% if unassigned %}
<h1>Cannot build chart - Some classes are not assigned to a timeslot. Please assign these first.</h1>
{% else %}
{% if teachers %}
<div class="m-2 row justify-content-center">
<div id="infoBtnGroup" class="btn-group" role="group">
<button class="btn btn-primary-outline" hx-get="{% url 'combingView' timetableId  %}" hx-target="#mainContent"
        data-bs-toggle="tooltip" data-bs-placement="bottom"data-bs-title="Group classes together as close as possible">
        Group by Class (Default) 
</button>
<button class="btn btn-primary-outline" hx-get="{% url 'combingView' timetableId 'False' %}" hx-target="#mainContent"
    data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Order the chart based on period">
    Order by Period 
</button>
</div>
</div>
<table id="combingChart" class="table m-3">
    <th>Teachers</th>
    <th>Load</th>
    {% for k,v in periods.items %}
    <th style="text-align:center">{{k}}</th>
    {% endfor %}
    {% for t in teachers %}
    <tr id="{{t.id}}Row" class="teacherRow">
        <td><button class="btn btn-primary-outline border" hx-get="{% url 'assignTeacherCombing' t.id timetableId %}" hx-target="#addForm">{{t.name}}</button></td>
        <td>{{t.load}}</td>
        {% for p,v in periods.items %}
        <td id="{{t.id}}x{{v.name}}-{{v.week}}" class="cell"></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h1>Cannot build chart - No teachers or classes created</h1>
{% endif %}
{% endif %}
</div>
<div class="row m-5">
    <div id="moduleAssignments" class="col">
        {% if parents %}
        <table id="allocatedTable" class="table" style="max-width: 75%;">
            <th >Class</th>
            <th >Groups</th>
            <th >Periods</th>
            <th >Total</th>
            <th >Allocated</th>
            <tbody>
                {% for module in parents %}
                <tr>
                <td style="background-color: {{module.color}}">{{module.name}}</td>
                <td>{{module.numPeriods}}</td>
                <td>{{module.numClasses}}</td>
                <td id="{{module.id}}Total">{{module.numPeriods|mul:module.numClasses}}</td>
                <td id="{{module.id}}Allocated">0</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%else%}
        Cannot build table - No classes created
        {%endif%}
    </div>

    <div id="teacherLoad" class="col">
        {% if teachers and parents %}
        <table id="loadDistTable" class="table">
            <th >Teacher</th>
            <th >Load per Week</th>
            <th >Total Load</th>
            {% for module in parents %}
            <th  style="background-color: {{module.color}} !important;">{{module.name}}</th>
            {%endfor%}

            {% with weeks=teachers.0.department.format.numWeeks %}
            {% for w in weeks|forRange %}
            <th >Alloc W-{{w}}</th>
            <th >Remaining W-{{w}}</th>
            {% endfor %}
            <tbody>
                {% for t in teachers %}
                <tr>
                <td>{{t.name}}</td>
                <td id="{{t.id}}Load">{{t.load}}</td>
                <td id="{{t.id}}Load">{{t.load|mul:weeks }}</td>
                {% for module in parents %}
                <td id="{{t.id}}alloc{{module.id}}">0</td>
                {%endfor%}
                {% for w in weeks|forRange %}
                <td id="{{t.id}}Allocated-{{w}}">0</td>
                <td id="{{t.id}}Rem-{{w}}">{{t.load}}</td>
                {% endfor %}
                </tr>
                {%endfor%}
                {% endwith %}
            </table>
            {% else %}
            Cannot build table - No Teachers or no classes created
            {% endif %}
    </div>

</div>

<script>setupChart();</script>

<div id="viewDataModal" class="modal fade">
    <div id="module" class="modal-dialog" hx-target="this">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Module Info</h5>
                </div>
                <div id="modalBody" class="modal-body" hx-trigger="moduleDetailsChange from:body" hx-target="this">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary-outline" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
  </div>
