{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow"> {% endcomment %}

        {% comment %} <ul class="navbar-nav justify-content-end flex-grow-1 pe-3"> {% endcomment %}
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
          <li class="nav-item">
            <a class="nav-link align-middle px-0" aria-current="page" hx-get="{% url 'getSidebar' 'teacher' year.id %}" hx-target="#mainContent"><i class="fa-solid fa-person-chalkboard"></i><Span class="d-none d-sm-inline">  Teachers</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link align-middle px-0" hx-get="{% url 'getSidebar' 'moduleParent' year.id %}" hx-target="#mainContent"><i class="fa-solid fa-book-open-reader"></i><span class="d-none d-sm-inline">  Classes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link align-middle px-0" hx-get="{% url 'calendarView' year.id %}" hx-target="#mainContent"><i class="fa-solid fa-calendar-days"></i><span class="d-none d-sm-inline">  Calendar</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link align-middle px-0" hx-get="{% url 'combingView' year.id %}" hx-target="#mainContent"><i class="fa-solid fa-chart-gantt"></i><span class="d-none d-sm-inline">  Combing Chart</span></a>
          </li>
        </ul>

  
