{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow"> {% endcomment %}

        {% comment %} <ul class="navbar-nav justify-content-end flex-grow-1 pe-3"> {% endcomment %}

          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
            <li class="nav-item dropdown">
              <a id="timetableDropwdown" class="nav-link dropdown-toggle align-middle px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-clipboard-list"></i> <span id="timetableSelect" class="d-none d-sm-inline"> {{timetable.name}} </span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="timetableSelect">

              {% if user.is_authenticated %}
                <li>
                  <a class="dropdown-item" hx-get="{% url 'addTimetable' timetable.tableYear.id %}" hx-target="#addForm" aria-current="page" ><i class="fa-regular fa-calendar-plus"></i>  Add Timetable</a>
                </li>
                <li><hr class="dropdown-divider"></li>
              {% for t in tables %}
                {% comment %} <li><a class="dropdown-item departmentDrop" hx-get="{% url 'dashboard2' d.id %}" hx-target="#yearSelectList">{{d.name}}</a></li> {% endcomment %}
                <li class="depDropDown"><a class="dropdown-item timeDrop" hx-get="{% url 'displayDashboardContent' t.id %}" hx-target="#sidebarBody">{{t.name}}</a></li>
              {% empty %}
              <li>No Timetables</li>
              {%endfor%}
              {% endif %}

              </ul>
            </li>
          <hr width="100%">
          <li class="nav-item">
            <a id="teacher" class="nav-link align-middle px-0 sidebar-link" aria-current="page" hx-get="{% url 'getSidebar' 'teacher' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-person-chalkboard"></i><Span class="d-none d-sm-inline">  Teachers</span></a>
          </li>
          <li class="nav-item">
            <a id="class" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'getSidebar' 'moduleParent' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-book-open-reader" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-title="View Classes"></i><span class="d-none d-sm-inline">  Classes</span></a>
          </li>
          <li class="nav-item">
            <a id="calendar" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'calendarView' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-calendar-days"></i><span class="d-none d-sm-inline">  Calendar</span></a>
          </li>
          <li class="nav-item">
            <a id="combing" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'combingView' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-chart-gantt"></i><span class="d-none d-sm-inline">  Combing Chart</span></a>
          </li>
          <li class="nav-item">
            <a id="generateTest" class="nav-link align-middle px-0 sidebar-link" href="{% url 'cspTest' timetable.id %}" ><i class="fa-solid fa-chart-gantt"></i><span class="d-none d-sm-inline">  Generate Timeable</span></a>
          </li>
          {% comment %} <li class="nav-item">
            <a id="deleteTable" class="nav-link align-middle px-0 sidebar-link" hx-delete="{% url 'deleteObject' 'Timetable' timetable.id %}"><i class="fa-solid fa-chart-gantt"></i><span class="d-none d-sm-inline">  Delete Timetable</span></a>
          </li> {% endcomment %}
        </ul>

<script>enableTooltips();</script>
