{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow"> {% endcomment %}

        {% comment %} <ul class="navbar-nav justify-content-end flex-grow-1 pe-3"> {% endcomment %}
<script id="activeTimetable">
  timetable={{timetable.id}}
</script>

          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
            <li class="nav-item dropdown">
              <a id="timetableDropwdown" class="nav-link dropdown-toggle align-middle px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-clipboard-list"></i> <span id="timetableSelect" class="d-none d-sm-inline"> {{timetable.name}} </span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="timetableSelect">

              {% if user.is_authenticated %}
                <li>
                  <a class="dropdown-item" hx-get="{% url 'addTimetable' timetable.tableYear.id %}" hx-target="#addForm" aria-current="page" ><i class="fa-regular fa-calendar-plus"></i>  Add Timetable</a>
                </li>
                <li><hr class="dropdown-divider"></li>
              {% for t in tables %}
                <li class="depDropDown"><a class="dropdown-item timeDrop" hx-get="{% url 'displayDashboardContent' t.id %}" hx-target="#sidebarBody">{{t.name}}</a></li>
              {% empty %}
              <li>No Timetables</li>
              {%endfor%}
              {% endif %}

              </ul>
            </li>
            <hr width="100%">
          </ul>
          
          <div id="sidebarScroll">
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
            <li class="nav-item">
              <a id="teacher" class="nav-link align-middle px-0 sidebar-link" aria-current="page" hx-get="{% url 'getSidebar' 'teacher' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-person-chalkboard" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="View Teachers"></i><Span class="d-none d-sm-inline">  Teachers</span></a>
            </li>
            <li class="nav-item">
              <a id="class" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'getSidebar' 'moduleParent' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-book-open-reader" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="View Classes"></i><span class="d-none d-sm-inline">  Classes</span></a>
            </li>
            <li class="nav-item">
              <a id="calendar" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'calendarView' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-calendar-days" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="Calendar View"></i><span class="d-none d-sm-inline">  Calendar</span></a>
            </li>
            <li class="nav-item">
              <a id="combing" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'combingView' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-chart-gantt" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="View Combing Chart"></i><span class="d-none d-sm-inline">  Combing Chart</span></a>
            </li>
            <li class="nav-item">
              <a id="preferences" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'preferences' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-star" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="View All Preferences"></i><span class="d-none d-sm-inline">  Preferences</span></a>
            </li>
            <li class="nav-item">
              <a id="departmentInfo" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'departmentInfo' timetable.tableYear.department.id %}" hx-target="#mainContent"><i class="fa-solid fa-info" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="View/Edit Department"></i><span class="d-none d-sm-inline">  Department Info</span></a>
            </li>
            <li class="nav-item">
              <a id="timetableLanding" class="nav-link align-middle px-0 sidebar-link" hx-get="{% url 'timetableLanding' timetable.id %}" hx-target="#mainContent"><i class="fa-solid fa-info" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="View/Edit Timetable"></i><span class="d-none d-sm-inline">  Timetable Info</span></a>
            </li>
            <li class="nav-item">
              <a id="generateTest" class="nav-link align-middle px-0 sidebar-link" href="{% url 'timetableWizard' timetable.id %}" ><i class="fa-solid fa-robot" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="Auto Assign Teachers"></i><span class="d-none d-sm-inline">  Auto Assignment</span></a>
            </li>
            <li class="nav-item">
                <a id="deleteTable" class="nav-link align-middle px-0 sidebar-link" hx-delete="{% url 'deleteObject' 'Timetable' timetable.id %}" hx-confirm="Are you sure you want to delete {{timetable.name}}?"><i class="fa-solid fa-trash-can" data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Delete Timetable"></i><span class="d-none d-sm-inline text-danger">  Delete Timetable</span></a>
            </li>
          </ul>
          <div id="staticSidebar" class="mt-4">
            <hr/>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
              <li class="nav-item dropdown">
                <a id="profileDropdown" class="nav-link dropdown-toggle align-middle px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-regular fa-user"></i>
                  <span class="d-none d-sm-inline">
                  Profile
                  </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
    
                  {% if user.is_authenticated %}
                      {% if user.theme == "dark" %}
                            <li>
                                <a class="dropdown-item" href='{% url "changeTheme" "light" timetable.id %}'>Light Theme</a>
                            </li>
                      {% else %}
                            <li>
                                <a class="dropdown-item" href='{% url "changeTheme" "dark" timetable.id %}'>Dark Theme</a>
                            </li>
                      {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" id="Logout" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                    <li><a class="dropdown-item" id="Register" href="{% url 'register' %}">Register</a></li>
                    <li><a class="dropdown-item" id="Login" href="{% url 'login' %}">Login</a></li>
                  {% endif %}
    
            </ul>
          </div>
        </div>

<script>enableTooltips();</script>
