{% load mathfilters %}
<div class="container text-center">
    <h1>{{department.name}}</h1>
    <div class="row justify-content-center" >
        <div id="depInfoBtnGroup" class="btn-group infoBtnGroup" role="group" style="max-width:35%">
            <button class="btn btn-primary-outline border" hx-get="{% url "editDepartment" department.id %}" hx-target="#addForm">Edit Department</button>
            <a id="deleteDepartment" class="btn btn-danger border" hx-delete="{% url 'deleteObject' 'Department' department.id %}" hx-confirm="Are you sure you want to delete {{department.name}}?">Delete Department</a>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <table class="table caption-top" style="width:35%">
            <caption>
                <h1>Department Format</h1>
            </caption>
            <tr><td>Number of Periods per Week</td>
                <td>{{department.format.numPeriods}}</td>
            </tr>

            <tr><td>Number of weeks (Repeating)</td>
                <td>{{department.format.numWeeks}}</td>
            </tr>
            <tr><td>Total number of periods</td>
                <td>{{department.format.numPeriods|mul:5|mul:department.format.numWeeks}}</td>
            </tr>
        </table>
    </div>