{% extends "base_template.html" %}



{% block js %}
{% load static %}

<script type="text/javascript" src="{% static 'javascript/modalHandler.js' %}" defer></script>
{% endblock %}
{% block content %}
      <!--Sidebar Navigation-->
<div class="row me-auto vh-100">
  <div class="col-2 me-auto border-end border-3 vh-100">
      <div hx-trigger="load, departmentChange from:body" hx-get="{%url 'viewObjects' 'Department' %}"  hx-target="this" id="sidebar" class="btn-group-vertical d-flex mt-4"></div>
    </div>

    <div class="col-2 me-auto vh-100" id="teacherColumn">
      <div id="listObjects" hx-trigger="teacherChange from:body" hx-get="{%url 'viewObjects' 'Teacher' %}" hx-vals='js:{"id":getClicked()}' hx-disinherit="*" hx-target="this" id="sidebar" class="btn-group-vertical d-flex mt-4"></div>
      <div id="test"></div>
    </div>
  <div id="displayTeacher" class="col"></div>
</div>


<div id="addFormModal" class="modal fade">
    <div id="addForm" class="modal-dialog" hx-target="this"></div>
  </div>
  
{% endblock %}