{% comment %} <div class="row justify-content-center">
    <div class="btn-group" role="group">
        <button class="btn btn-primary-outline border" hx-get="{% url 'addModule' group.year.id group.id %}"  hx-target="#addForm">Edit Module</button>
        <a type="button" class="btn btn-primary-outline border" hx-delete="{% url 'deleteObject' 'ModuleGroup' group.id %}" hx-target="#listObjects" hx-confirm="Confirm delete?">Delete Module?</a>
    </div>
</div> {% endcomment %}
<div class="row justify-content-center">
    <div id="infoBtnGroup" class="btn-group" role="group">
        {% comment %} <a role="button" class="btn btn-primary-outline border" hx-get="{% url 'addTeacher' teacher.department.id teacher.id %}" hx-target="#addForm">Edit Teacher</a>
        <button type="button" class="btn btn-primary-outline border" hx-get="{% url 'setAvailability' teacher.id %}" hx-target="#availability">Set Availability</button> {% endcomment %}
        <button class="btn btn-primary-outline border" hx-get="{% url 'addModule' parent.timetable.tableYear.id parent.id %}" hx-target="#addForm" 
        hx-confirm=
        "Editing a Class may remove periods or lessons.
        This will affect all timetables for the year.
        Continue?">Edit Class</button>
        <button class="btn btn-primary-outline border" hx-delete="{% url 'deleteObject' 'ModuleParent' parent.sharedId %}" hx-target="#listObjects" hx-confirm="Confirm delete?">Delete Class</button>
        {% comment %} <button class="btn btn-primary-outline border" type="button" data-bs-toggle="collapse" data-bs-target="#teacherCal" aria-expanded="false" aria-controls="teacherCal">View Calendar</button>
        <button class="btn btn-primary-outline border" type="button" data-bs-toggle="collapse" data-bs-target="#assignments" aria-expanded="false" aria-controls="assignments">View Modules</button> {% endcomment %}

        <button id="changeColor" class='btn border' style="background-color:{{parent.color}};" hx-get="{% url 'changeColor' parent.id %}" hx-target="#addForm">Change Color</button>
    </div>
    </div>
</div>
<div id="classTables" class="container justify-content-center"> 
{% for k,v in modules.items %}

<table id={{k.id}} class="table caption-top moduleTable">
    <caption>
        <div class="row">
            <div class="col">
                <h4>
                <div id="classCard" class="text-decoration-none rotateLink" data-bs-toggle="collapse" data-bs-target="#table{{k.id}}" role="button" aria-expanded="false" aria-controls="{{k.id}}">
                    {{k.name}} <i class="fa-solid fa-square-caret-down rotate"></i>
                
                <span>
                Timeslot: 
                {% if k.period is null%}
                None Assigned
                {%else%}
                {{k.period.name}} Week-{{k.period.week}} 
                {%endif%}
                </span>
                </div>
            </h4>
            </div>
            <div class="col">
                <button id="assignPeriod" class='btn btn-primary-outline align-end' hx-get="{% url 'assignPeriod' k.parent.department.id k.id %}" hx-target="#addForm"> add/edit Period</button>
            </div>
        </div>
</caption>

    <tbody id="table{{k.id}}" class="collapse">
        <th class="border">Class</th>
        <th class="border">Assigned Teacher</th>
        <th class="border">Assign Teacher</th>
    {% for mod in v %}
    <tr>
        <td>{{mod.name}}</td>
        {% if mod.teacher is null %}
        <td>None</td>
        {% else %}
        <td>{{mod.teacher.name}}</td>
        {% endif %}
        <td class="editBtnCol"><button class='btn btn-primary-outline' hx-get="{% url 'assignTeacher' mod.group.parent.department.id mod.id %}" hx-target="#addForm"> add/edit Teacher</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>
{%empty%}
No modules
{%endfor%}
</div>
