<div class="row justify-content-center">
    <div id="modInfoBtnGroup" class="btn-group infoBtnGroup" role="group">
        <button class="btn btn-primary-outline border" hx-get="{% url 'addModule' parent.timetable.tableYear.id parent.id %}" hx-target="#addForm" 
        hx-confirm=
        "Editing a Class may remove periods or lessons.
        This will affect all timetables for the year.
        Continue?">Edit Class</button>
        <button id="changeColor" class='btn border' style="background-color:{{parent.color}};" hx-get="{% url 'changeColor' parent.id %}" hx-target="#addForm">Change Color</button>
        <button class="btn btn-danger border" hx-delete="{% url 'deleteObject' 'ModuleParent' parent.sharedId %}" hx-target="#listObjects" hx-confirm="Confirm delete?">Delete Class</button>

    </div>
    </div>
</div>
<div id="classTables" class="container"> 
    <div class="row justify-content-center">
{% for k,v in modules.items %}


<table id={{k.id}} class="table caption-top moduleTable" style="max-width:70%;">
    <caption>
        <div class="row">
            <div class="col-8 text-start fs-4">
                <div id="{{k.id}}Toggle" class="text-decoration-none rotateLink classCard" data-bs-toggle="collapse" data-bs-target="#table{{k.id}}" role="button" aria-expanded="false" aria-controls="{{k.id}}">
                    {{k.name}} <i id="{{k.id}}Icon" class="fa-solid fa-angle-down rotate"></i>
                <span>
                Timeslot: 
                {% if k.period is null%}
                None Assigned
                {%else%}
                {{k.period.name}} Week-{{k.period.week}} 
                {%endif%}
                </span>
                </div>
            </div>
            <div class="col-2">
                <button class='btn btn-primary-outline' hx-get="{% url 'assignPeriod' k.parent.department.id k.id %}" hx-target="#addForm"> Edit Period</button>
            </div>
        </div>
</caption>

    <tbody id="table{{k.id}}" class="collapse">
        <th class="border">Class</th>
        <th class="border">Assigned Teacher</th>
        <th class="border">Assign Teacher</th>
    {% for mod in v %}
    <tr>
        <td>{{mod.name}}</td>
        {% if mod.teacher is null %}
        <td>None</td>
        {% else %}
        <td>
            <button class="btn btn-primary-outline border teacherLanding" teacherId={{mod.teacher.id}} timetableId={{parent.timetable.id}}
            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View {{mod.teacher.name}} Information">{{mod.teacher.name}}</button>
        </td>
        {% endif %}
        <td class="editBtnCol"><button class='btn btn-primary-outline' hx-get="{% url 'assignTeacher' mod.group.parent.department.id mod.id %}" hx-target="#addForm"> Edit Teacher</button></td>
    </tr>
    {% endfor %}
</tbody>
</table>
{%empty%}
No modules
{%endfor%}
</div>
</div>
