{% load customTags %}
{% if type == "Teacher" %}
<button id='new{{type}}' class="btn btn-primary border" hx-get="{% url 'addTeacher' department=objectId %}" hx-target="#addForm">New {{type}} </button>
{% for entity in entities %}
<button id="{{entity.id}}.button"  hx-get="{% url 'getTeacher' id=entity.id %}" hx-target="#displayTeacher" class="btn btn-primary border teacherButtons">{{entity.name}}</button>
{% empty %}
Nothing found
{% endfor %}
{% else %}
<button id='new{{type}}' class="btn btn-primary border" hx-get="{% url 'addDepartment' %}" hx-target="#addForm">New {{type}} </button>
{% for entity in entities %}
<button id="{{entity.id}}.button"  hx-get="{% url 'viewObjects' entity|getChildClass entity.id  %}" hx-target="#listObjects" class="btn btn-primary departmentButtons border">{{entity.name}}</button>
{% empty %}
Nothing found
{% endfor %}
<!--
<script>
    $(".departmentButtons").on("click", function(){
    clickedDep=this.id.split('.')[0];
    console.log(clickedDep);
    
    });
    htmx.on("htmx:beforeSwap", (e) => {
        if (e.detail.target.id == "addForm" && !e.detail.xhr.response){
            modal.hide();
            e.detail.shouldSwap = false;
            $("#newTeacher").prop("hx-get", "/addTeacher/"+clickedDep);
        }
    })
</script>
-->
{% endif %}
