{%if teacher is not None %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="btn-group" role="group">
            <button class="btn btn-primary border" hx-get="{% url 'addTeacher' teacher.department.id teacher.id %}" hx-target="#addForm">Edit Teacher</button>
            <a type="button" class="btn btn-primary border" href="{% url 'setAvailability' teacher.id %}">Set Availability</a>
            <a type="button" class="btn btn-primary border" hx-delete="{% url 'deleteObject' 'Teacher' teacher.id %}" hx-target="#listObjects" hx-confirm="Confirm delete?">Delete Teacher</a>
        </div>
    </div>
    <div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-4 border border-end-0">
            Teacher:
        </div>
        <div class="col-4 border border-start-0">
            {{teacher.name}}
        </div>
        </div>
            <div class="row justify-content-center">
        <div class="col-4 border border-end-0">
            hours:
        </div>
        <div class="col-4 border border-start-0">
            {{teacher.totalHours}}
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 border border-end-0">
                Room:
            </div>
            <div class="col-4 border border-start-0">
                {{teacher.roomNum}}
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <table class="table">
                <th>Assigned Modules</th>
                <th>Period</th>
                {% for mod in modules %}
                <tr>
                    <td>{{mod.name}}</td>
                    {% if mod.period is not None %}
                    <td>Week: {{mod.period.week}}, Day: {{mod.period.name}}</td>
                    {% else %}
                    <td>Not Scheduled</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td>None assigned</td>
                </tr>
                {%endfor%}
            </table>
</div>
{% endif %}