{% load mathfilters %}
{%if teacher is not None %}
    <div class="row justify-content-center">
        <div id="infoBtnGroup" class="btn-group" role="group">
            <a role="button" class="btn btn-primary border" hx-get="{% url 'addTeacher' teacher.department.id teacher.id %}" hx-target="#addForm">Edit Teacher</a>
            <button type="button" class="btn btn-primary border" hx-get="{% url 'setAvailability' teacher.id %}" hx-target="#availability">Set Availability</button>
            <button type="button" class="btn btn-primary border" data-bs-toggle="collapse" data-bs-target="#preferences" hx-get="{% url 'preferences' teacher.id timetable %}" hx-target="#preferences">Set Preferences</button>
            <a type="button" class="btn btn-primary border" hx-delete="{% url 'deleteObject' 'Teacher' teacher.id %}" hx-target="#listObjects" hx-confirm="Confirm delete?">Delete Teacher</a>
            <button class="btn btn-primary border" type="button" data-bs-toggle="collapse" data-bs-target="#teacherCal" aria-expanded="false" aria-controls="teacherCal">View Calendar</button>
            <button class="btn btn-primary border" type="button" data-bs-toggle="collapse" data-bs-target="#assignments" aria-expanded="false" aria-controls="assignments">View Modules</button>
        </div>
    </div>
    <div id="teacherInfoCont" class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-4 border border-end-0">
            Teacher:
        </div>
        <div class="col-4 border border-start-0">
            {{teacher.name}}
        </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-4 border border-end-0">
            Total Load:
        </div>
        <div class="col-4 border border-start-0">
            {{teacher.load}}
        </div>
    </div>
    {% with modules|length as assigned %}
    <div class="row justify-content-center">
        <div class="col-4 border border-end-0">
            Total Assigned Load:
        </div>
        <div class="col-4 border border-start-0">
            {{assigned}}
        </div>
    </div>
        <div class="row justify-content-center">
        <div class="col-4 border border-end-0">
            Remaining Load:
        </div>
        <div class="col-4 border border-start-0">
            {{teacher.load|sub:assigned}}
            
        </div>
    </div>
    {% endwith %}
        <div class="row justify-content-center">
            <div class="col-4 border border-end-0">
                Room:
            </div>
            <div class="col-4 border border-start-0">
                {{teacher.roomNum}}
            </div>
        </div>
        <div id="preferences" hx-trigger="from:body preferenceChanged" hx-get="{% url 'preferences' teacher.id timetable %}" class="row justify-content-center mt-3 collapse">
        </div>
        <div id="assignments" class="row justify-content-center mt-3 collapse">
            {% comment %} <div class="btn-group" role="group"> {% endcomment %}
            {% comment %} {% for year, mods in modules.items %}
            <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#table{{year}}" >{{year}}</button>
            {% endfor %}
            </div>
            {% for year, mods in modules.items %}
            <div id="table{{year}}" class="collapse" data-bs-parent="#assignments">
            <a type="button" class="btn btn-primary m-2" href="{% url 'calendarView' mods.0.group.parent.year.id teacher.id %}">View Calendar for {{year}}</a> {% endcomment %}
            <table class="table">
                <th>Assigned Modules</th>
                <th>Week</th>
                <th>Period</th>
                {% for mod in modules %}
                <tr>
                    <td>{{mod.name}}</td>
                    <td>{{mod.group.period.week}}</td>
                    <td>{{mod.group.period.name}}</td>
                </tr>
                
                {% empty %}
                <tr>
                    <td>None assigned</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="availability" class="collapse"></div>
        <div id="teacherCal" class="collapse" hx-trigger="load" hx-get="{% url 'calendarView' timetable teacher.id%}" hx-target="this"></div>
            
{% endif %}