{%if teacher is not None %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="btn-group" role="group">
            <button class="btn btn-primary border" hx-get="{% url 'addTeacher' teacher.department.id teacher.id %}" hx-target="#addForm">Edit Teacher</button>
            <a type="button" class="btn btn-primary border" href="{% url 'setAvailability' teacher.id %}">Set Availability</a>
            <a type="button" class="btn btn-primary border" hx-delete="{% url 'deleteObject' 'Teacher' teacher.id %}" hx-target="#listObjects" hx-confirm="Confirm delete?">Delete Teacher</a>
        </div>
    </div>
    <div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-4 border border-end-0">
            Teacher:
        </div>
        <div class="col-4 border border-start-0">
            {{teacher.name}}
        </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-4 border border-end-0">
            hours:
        </div>
        <div class="col-4 border border-start-0">
            {{teacher.load}}
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 border border-end-0">
                Room:
            </div>
            <div class="col-4 border border-start-0">
                {{teacher.roomNum}}
            </div>
        </div>
        <div id="assignments" class="row justify-content-center mt-3">
            <div class="btn-group" role="group">
            {% for year, mods in modules.items %}
            <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#table{{year}}" >{{year}}</button>
            {% endfor %}
            </div>
            {% for year, mods in modules.items %}
            <div id="table{{year}}" class="collapse" data-bs-parent="#assignments">
            <a type="button" class="btn btn-primary m-2" href="{% url 'calendarView' mods.0.group.parent.year.id teacher.id %}">View Calendar for {{year}}</a>
            <table class="table">
                <th>Assigned Modules</th>
                <th>Week</th>
                <th>Period</th>
                {% for mod in mods %}
                <tr>
                    <td>{{mod.name}}</td>
                    <td>{{mod.group.period.week}}</td>
                    <td>{{mod.group.period.name}}</td>
                </tr>
                
                {% empty %}
                <tr>
                    <td>None assigned</td>
                </tr>
                {% endfor %}
            </table>
        </div>
                {%endfor%}
            
</div>
{% endif %}