<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Template Instructions</h5>
    </div>
    <div class="modal-body">
        <p>You can use these templates to bulk add or update Classes, Teachers, Assignments, Preferences and Scheduling</p>
        <p>If there is missing data, that change will be ignored.</p>
        <p>You cannot update Classes and Schedule, Assignments, or Preferences as those depend the stored information from Classes</p>
        <p>When you select one update sheet, sheets that aren't compatable will be disabled</p>
        <a class="btn btn-primary" hx-get="{% url 'templateBuilder' timetableId %}" hx-target="#addForm">Continue</a>
        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
         
</div>
<div class="modal-footer">
</div>
</div>
</div>