{% load mathfilters %}
{% load customTags %}
<h1 id="tableName" timetableId="{{timetable.id}}"> {{timetable.name}} </h1>

<h2 class="landing">Timetable at a Glance </h2>
<div class="row justify-content-center">
    <div id="timeInfoBtnGroup" class="btn-group infoBtnGroup" role="group">
        <button class="btn btn-primary-outline border landingLink" hx-get="{% url 'addTimetable' timetable.tableYear.id timetable.id %}" hx-target="#addForm">Edit Timetable</button>
        <button class="btn btn-primary-outline border landingLink" hx-post="{% url 'setDefaultTimetable' timetable.tableYear.id timetable.id %}" 
                hx-confirm="Set {{timetable.name}} as Default Timetable for {{timetable.tableYear.department.name}} {{timetable.tableYear.year}}?" 
                hx-target="this">Set As Default Timetable
        </button>
        <button class="btn btn-primary-outline border landingLink" hx-get="{% url 'templateBuilderInstructions' timetable.id %}" hx-target="#addForm">Export Excel Template</button>
        <button class="btn btn-primary-outline border landingLink" hx-get="{% url 'uploadTest' timetable.id %}" hx-target="#addForm" >Upload Excel Template</button>
        <button id="verifyTimetableBtn" class="btn btn-primary-outline border landingLink" hx-get="{% url 'verifyTimetable' timetable.id %}" hx-target="this">Verify Timetable Assignments</button>

        <a class="btn btn-primary-outline border landingLink" href="{% url 'exportCalendar' timetable.id %}">Export Calendar to Excel</a>
    </div>
</div>

<div class="container">
    <div class="row justify-content-evenly mt-5">
        {% if timetable.generating %}
        <h1 class="text-warning text-center">This timetable is currently being assigned... Please Wait...</h1>
        {% endif %}
        <div id="teacherColumnLanding" class="col-2 text-center">
            <h1>Teachers</h1>
            <div id="teacherBtnGroup" class="btn-group-vertical" role="group">
        {% for teacher in teachers %}
            <button class="btn btn-primary-outline border teacherLanding landingLink" teacherId={{teacher.id}} timetableId={{timetable.id}}>{{teacher.name}}</button>
        {% empty %}
        <div class="row">
            No teachers assigned
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="col-4" >
        <table class="table caption-top">
            <caption>
                <h1>Timetable Stats</h1>
            </caption>
            <tr>
                <td>Total Teacher Load Per Week </td>
                <td>{{totalTeacherLoad}}</td>
            </tr>
            <tr>
            <td>Total Teacher Load Per Timetable </td>
                <td>{{totalTeacherLoad|mul:weeks}}</td>
            </tr>
            {% for w in weeks|forRange %}
            <tr>
                <td>Week {{w}} load</td>
                <td>{{weekLoads|dict_lookup:w}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total Class Load</td>
                <td>{{totalClassLoad}}</td>
            </tr>
            <tr>
                <td>Total Assigned</td>
                <td>{{assigned}}</td>
            </tr>
            <tr>
                <td>To Assign</td>
                <td>{{ totalClassLoad|sub:assigned}}</td>
            </tr>
            {% if timetable.latestMsg %}
            <tr>
                <td>Latest Task Message</td>
                <td>{{timetable.latestMsg}}</td>
            </tr>
            {% endif %}

        </table>
    </div>
    <div id="classColumnLanding" class="col-2 text-center">
        <h1>Classes</h1>
        <div id="classBtnGroup" class="btn-group-vertical" role="group">
    {% for class in classes %}
        <button class="btn btn-primary-outline border classLanding landingLink" classId={{class.id}} timetableId={{timetable.id}}>{{class.name}}</button>
    {% empty %}
    <div class="row">
        No teachers assigned
    </div>
    {% endfor %}
    </div>
</div>
    </div>
</div>
{% if timetable.generating %}
<script>
    disableButtons();
</script>
{% endif %}

{% comment %} <button id="jquery_click_test">teacher click button </button> {% endcomment %}