{% extends "base_template.html" %}



{% block js %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% comment %} <script>
    const periods=parseInt({{periods}});
    const weeks=parseInt({{weeks}});
    const year=parseInt({{year}});
    var events={{events|safe}};
</script>
{% endcomment %}


{% endblock %}
{% block content %}
<h1 style="text-align:center">{{title}}</h1>
<h1 id="title" style="text-align: center">Calendar </h1>
<button id="previous" class='fas fa-arrow-alt-circle-left m-4 arrows' style='font-size:36px; float: left;'></button>
<button id="next" class='fas fa-arrow-alt-circle-right m-4 arrows' style='font-size:36px; float: right;'></button>
<div id="calendarWrapper" hx-trigger="load" hx-get="/getCalendar/{{year}}/{{teacher}}" hx-target="this">
</div>

<div id="viewDataModal" class="modal fade">
    <div id="module" class="modal-dialog" hx-target="this">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Module Info</h5>
                </div>
                <div id="modalBody" class="modal-body" hx-trigger="moduleDetailsChange from:body" hx-get="{%url 'getModules' %}" hx-vals='js:{"groupId":getClicked(), "calendar":1}' hx-target="this">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div id="addFormModal" class="modal fade">
    <div id="addForm" class="modal-dialog" hx-target="this"></div>
  </div>
{% endblock %}
